.mapin{
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-background-position: center center;
}
.butun{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.butunSpawn{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}



