.root{

    -fx-background-color: #2b2b2b;
    -fx-font-family: "Showcard Gothic";
    -fx-font-size: 15;
}

.label{

    -fx-text-fill: #e49563;
    -fx-font-size: 20;
}

.list-view{

    -fx-background-color: #2b2b2b;
    -fx-border-width: 0;
}

.list-cell{

    -fx-background-color: #f5bf80;
    -fx-font-family: Arial;
    -fx-font-size: 15;
}

.list-cell:even {
    -fx-background-color: #FFA577;
}

.radio-button{

    -fx-text-fill: #e49563;
    -fx-font-family: Arial;
}

.button{

    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #e49563;
    -fx-font-family: Arial;
    -fx-font-size: 20;
}

.text-field{
    -fx-font-family: Arial;
}


#stackPane{

    -fx-background-color: #99aab5;
    -fx-background-image: url("/images/background_image.png");
    -fx-background-repeat: round;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

#vBox{

    -fx-background-color: #2b2b2b;
    -fx-opacity: 0.985;
    -fx-background-radius: 10;
}

#bluButton{

    -fx-text-fill: #04d4f0;
}

#yellowButton{

    -fx-text-fill: #f8ea8c;
}

#greenButton{

    -fx-text-fill: #b8ee30;
}

#greyButton{

    -fx-text-fill: #769aa5;
}

#purpleButton{

    -fx-text-fill: #9876aa;
}